# Copyright 2025 NVIDIA CORPORATION
# SPDX-License-Identifier: Apache-2.0

name: KAI Scheduler - Release
on:
  release:
    types:
      - created

env:
  DOCKER_REGISTRY: "ghcr.io/nvidia/kai-scheduler"

jobs:
  build-and-push:
    name: Build & Push
    runs-on: ubuntu-latest
    steps:
      - name: No-op
        run: echo "This workflow is currently disabled"
